{% load static car_filters %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand px-4 text-white-50 link-light" href="{% url 'cars:home' %}">
            <span class="brand-icon">🚗</span> xehoi360
        </a>

        {# Mobile toggle #}
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% active_url 'home' %}"
                        href="{% url 'cars:home' %}">
                        <i class="bi bi-house"></i> Trang chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_url 'brand_list' %}"
                        href="{% url 'cars:brand_list' %}">
                        <i class="bi bi-shield-check"></i> Brand
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_url 'car_list' %}"
                        href="{% url 'cars:car_list' %}">
                        <i class="bi bi-car-front"></i> All Cars
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_url 'car_list' %}"
                        href="{% url 'blogs:post_list' %}">
                        <i class="bi bi-newspaper"></i> Blogs
                    </a>
                </li>

            </ul>
            
            {% include "header/_user.html" %}

        </div>
    </div>
</nav>