{% load allauth %}
{% if attrs.errors %}
    {% for error in attrs.errors %}
        <div class="invalid-feedback d-block">{{ error }}</div>
    {% endfor %}
{% endif %}
<div class="mb-3">
    {% if attrs.type == "textarea" %}
        <label for="{{ attrs.id }}" class="form-label fw-semibold">
            {% slot label %}{% endslot %}
        </label>
        <textarea
            class="form-control {% if attrs.errors %}is-invalid{% endif %}"
            {% if attrs.required %}required{% endif %}
            {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
            {% if attrs.disabled %}disabled{% endif %}
            {% if attrs.readonly %}readonly{% endif %}
            {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
            {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
            {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
        >{% slot value %}{% endslot %}</textarea>
    {% else %}
        {% if attrs.type != "checkbox" and attrs.type != "radio" %}
            <label for="{{ attrs.id }}" class="form-label fw-semibold">
                {% slot label %}{% endslot %}
            </label>
        {% endif %}
        <input
            class="{% if attrs.type == 'checkbox' or attrs.type == 'radio' %}form-check-input{% else %}form-control{% endif %} {% if attrs.errors %}is-invalid{% endif %}"
            {% if attrs.required %}required{% endif %}
            {% if attrs.disabled %}disabled{% endif %}
            {% if attrs.readonly %}readonly{% endif %}
            {% if attrs.checked %}checked{% endif %}
            {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
            {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
            {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
            {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
            {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
            type="{{ attrs.type }}">
        {% if attrs.type == "checkbox" or attrs.type == "radio" %}
            <label for="{{ attrs.id }}" class="form-check-label">
                {% slot label %}{% endslot %}
            </label>
        {% endif %}
    {% endif %}
    {% if slots.help_text %}
        <div class="form-text text-muted">
            {% slot help_text %}{% endslot %}
        </div>
    {% endif %}
</div>
