{% extends 'base.html' %} 
{% block title %}{{ post.title }} | Xehoi360{%endblock %} 
{% block meta_description %} 
{{ post.sections.first.content|truncatewords:25 }} {% endblock %} 
{% block content_root %}

<div class="container py-lg-0">
  <div class="row">

        <div class="col-lg-8">

            {% include "blogs/blog_detail/_detail_section/_detail_post.html" %}

            {% if post.comments %}
                {% include "blogs/blog_detail/_detail_section/_comment_blog.html" with comments=post.comments %}
            
            {% else %}
                
            {% endif %}
          

        </div>

        <div class="col-lg-4 sidebar">

          {% include "blogs/blog_detail/_sidebar_section/_sidebar_section.html" %}

        </div>

      </div>

{% endblock %}