<div class="container py-4" style="max-width:700px;">
    <h2>Cảm nhận của bạn về dòng xe này<strong>{{ car }}</strong></h2>

    <form method="post"
          hx-post="{% url 'cars:review_submit' slug=car_model.slug %}"
          hx-target="#review-form-container"
          hx-swap="innerHTML">
        {% csrf_token %}        
        <div id="review-result">

            <!-- ★ Star Rating --- seprately rendered -->
            {% include "cars/utils/_star_rating.html" %}

            {% for field in form %}
                {% if field.name != 'rating' %}
                    <div class="mb-3">
                    <label class="form-label fw-semibold">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small mt-1">{{ field.errors.0 }}</div>
                    {% endif %}
                </div>
                {% endif %}                
            {% endfor %}
            <button type="submit" class="btn btn-primary">Gửi đánh giá</button>
        </div>
    </form>
</div>