# .env.example
SECRET_KEY=your-secret-key-here
DEBUG=True

DB_NAME=carcompare_dev
DB_USER=postgres
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=5432

# Production only
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
ADMIN_EMAIL=email-of-admin-to-receive-error-report

#=======R2 Cloudflare============
R2_ACCESS_KEY_ID=<access_key_vừa_tạo>
R2_SECRET_ACCESS_KEY=<secret_key_vừa_tạo>
R2_BUCKET_NAME=<tên_bucket>
R2_ENDPOINT_URL=https://<ACCOUNT_ID>.r2.cloudflarestorage.com
R2_PUBLIC_DOMAIN=<pub-xxxx.r2.dev_hoặc_custom_domain_của_bạn>

TUNNEL_TOKEN = 'YOUR_TUNNEL_TOKEN'

# Encryption keys for sensitive fields
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ENCRYPTION_KEY="encryption-key"

# python -c "import secrets; print(secrets.token_hex(32))"
ENCRYPTION_HASH_SALT="encryption-hash-salt"

CSRF_TRUSTED_ORIGINS="https://domain.com"