# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Testing
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# IDE
.vscode/
.idea/

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

data/

# OS
.DS_Store
Thumbs.db