<tbody>
    <tr>
        <td class="fw-normal text-muted" >Hãng</td>
        {% for v in variants %}
        <td class="text-center">{{ v.car_model.brand }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td class="fw-normal text-muted" >Nhiên liệu</td>
        {% for v in variants %}
        <td class="text-center">{{ v.get_fuel_type_display }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td class="fw-normal text-muted" >Giá</td>
        {% for v in variants %}
        <td class="text-center">{{ v.price_range }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td class="text-secondary" >Loại xe</td>
        {% for v in variants %}
        <td class="text-center">{{ v.car_model.body_type|default:"-" }}</td>
        {% endfor %}
    </tr>

</tbody>