<select name="body" class="form-select form-select-sm mb-3"
    {% comment %} onchange="this.form.submit()" {% endcomment %}
    hx-trigger="change"
    hx-get="{% url 'cars:car_list' %}"
    hx-include="#filter-form"
    hx-target="#car-grid-container"
    hx-push-url="true"
    >
    <option value="">Tất cả các kiểu</option>
    {% for body in all_body_types %}
    <option value="{{ body.slug }}"
        {% if body.slug == current_body %}selected{% endif %}>
        {{ body.name}}
    </option>
    {% endfor %}

</select>