{% extends "base.html" %}
{% load static car_filters %}

{% block title %} {{ brand.get_seo_title }} {% endblock %}
{% block meta_description %}{{ brand.get_seo_description }}{% endblock %}
{% block canonical %}{{ brand.get_absolute_url }}{% endblock %}

{% block extra_head %} {% endblock %}

{% block content_root%}
<div class="container py-4 ">
    <div class="content-surface">
        <!-- brand header -->
        <section class="row align-items-center mb-5">
            <div class="col-auto">
                {% if brand.logo %}
                <img src="{{ brand.logo.url }}" alt="{{ brand.name}} logo"
                    class="brand-logo brand-detail-logo img-fluid">

                    
                {% else %}
                <div class="brand-logo-placeholder rounded d-flex align-items-center justify-content-center">
                    <i class="bi bi-car-front fs-2 text-white"></i>
                </div>
                {% endif %}
            </div>
            <div class="col">
                <h1 class="mb-1">{{ brand.name }}</h1>
                <p class="text-muted-custom mb-0">
                    <i class="bi bi-geo-alt"></i> {{ brand.country_of_origin }}
                    {% if brand.founded_year %}
                    &nbsp;·&nbsp;
                    <i class="bi bi-calendar3"></i> Thành lập {{ brand.founded_year}}
                    {% endif %}
                    {% if brand.website %}
                    &nbsp;·&nbsp;
                    <a href="{{ brand.website }}" target="_blank" rel="noopener">
                    <i class="bi bi-globe"></i> Website
                    </a>
                    {% endif %}
                    {% if brand.history %}
                        &nbsp;·&nbsp;
                        <a href="{% url 'cars:brand_history' slug=brand.slug %}">
                            <i class="bi bi-clock-history"></i> History
                        </a>
                    {% endif %}
                    
                </p>
            </div>
        </section>

        {% if brand.description %}
            <p class="lead text-muted-custom mb-5">{{ brand.description }}</p>
        {% endif %}

        <!-- Car Model Grid -->
        
        <h2>Các dòng xe của hãng {{brand.name}}</h2>
        <section class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
                {% for model in car_models%}
                {% include "cars/car_models/_car_card.html" %}
                {% empty %}
                <div class="col-12">
                    <div class="empty-state">
                        <i class="bi bi-info-circle"></i>
                        Hãng {{brand.name}} chưa có dòng xe nào trong hệ thống.
                    </div>

                </div>
                {% endfor %}

        </section>

    </div>
</div>

{% endblock %}