{% extends "base.html" %}
{% load static car_filters %}

{% block title %}{{ profile_user.display_name }} | xehoi360 {% endblock %}

{% block content_root %}
<!-- Personal Information start -->
<div class="container my-2">
    <div class="row align-items-center">
        <!-- Left: Profile Image -->
        <div class="col-12 col-md-6 mb-5 mb-lg-0 text-center">
            {% if profile_user.avatar %}
                <img src="{{ profile_user.avatar.url }}" alt="Profile" class="img-fluid w-100" style="object-fit: cover;">
            {% else %}
                <i class="bi bi-person w-100"></i>
            {% endif %}
        </div>

        <!-- Right: Details List -->
        <div class="col-12 col-md-6 g-2">
            <h2 class="display-6 fw-bold mb-4">Profile Details</h2>
            

            <div class="row mb-2">
                <!-- Column 1 -->
                <div class="col-6">
                    <div class="info-list-item">
                        <div class="info">
                            <p class="fw-semibold"><i class="bi bi-person-fill"></i> Name</p>
                            <p class="font-monospace">{{ profile_user.display_name|first|upper }}</p>
                        </div>
                    </div>

                    <div class="info-list-item">
                        <div class="info">
                            <p class="fw-semibold"><i class="bi bi-envelope-at-fill"></i> Email</p>
                        
                            <p class="font-monospace">{{ profile_user.email }}</p>
                        </div>
                    </div>

                    <div class="info-list-item">
                        <div class="info">
                            <p class="fw-semibold"><i class="bi bi-geo-alt-fill"></i> Location</p>
                        </div>
                        <div>
                            
                            {% if profile_user.province %}
                                <p class="font-monospace">{{ profile_user.province }}</p>
                            {% else %}
                                <p class="font-monospace">Chưa cập nhật</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Column 2 -->
                <div class="col-6">
                    <div class="info-list-item">
                        <div class="info">
                            <p class="fw-semibold"><i class="bi bi-calendar-check-fill"></i> Birthday</p>
                        
                            {% if profile_user.year %}
                                <p class="font-monospace">{{ profile_user.year }}</p>
                            {% else %}
                                <p class="font-monospace">Chưa cập nhật</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="info-list-item">
                        <div class="info">
                            <p class="fw-semibold"><i class="bi bi-store"></i> Showroom</p>
                      
                            {% if profile_user.showroom %}
                                <p class="font-monospace">{{ profile_user.showroom }}</p>
                            {% else %}
                                <p class="font-monospace">Chưa cập nhật</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="info-list-item">
                        <div class="info">
                            <p class="fw-semibold"><i class="bi bi-globe"></i> Website</p>
                        
                            <a href="#" class="font-monospace">https://example.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bio">
                <p class="fw-semibold"><i class="bi bi-person-lines-fill"></i> About me</p>
                <div class="w-100 h-auto border rounded-3 p-3 bg-light">
                    {% if profile_user.bio %}
                    <p>{{ profile_user.bio }}</p>
                    {% else %}
                        <p>Welcome to {{profile_user.display_name}}'s profile</p>
                    {% endif %}
                </div>
                
            </div>
            <!-- Social Links -->
            <div class="mt-4 d-flex gap-3">
                <a href="#" class="btn btn-outline-dark btn-sm"><i class="bi bi-facebook me-1"></i> Facebook </a>
                <a href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-tiktok me-1"></i> Tiktok </a>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <h4 class="mt-4">Xe đã lưu</h4>
            {% for saved in saved_cars %}
                <div class="col-6 col-md-3 g-2">

                    {% include "cars/variants/_variant_card.html" with variant=saved.car  %}

                </div>

            {% empty %}
                <p class="text-muted">Chưa có xe nào được lưu.</p>
                
            {% endfor %}
    </div>

</div>

<!-- Personal Information end -->



{% endblock  %}

