{% extends "base.html" %} 

{% block content_root %}
<div class="custom-bg text-dark">
    <div class="d-flex align-items-center justify-content-center min-vh-100 px-2">
        <div class="text-center">
            <h1 class="display-1 fw-bold">400 Errors</h1>
            <p class="fs-2 fw-medium mt-4">Có điều gì đó không đúng rồi bạn ơi! Hãy thử lại hoặc trở về trang chủ</p>
            <a href="{% url 'cars:car_list' %}" class="btn btn-primary fw-semibold rounded-pill px-4 py-2 hover">
                Go Home
            </a>
        </div>
    </div>
</div>
{% endblock %}