{% load static car_filters %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CarCompare{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}So sánh xe hơi tại Việt Nam{% endblock %}">
    
    {# Bootstrap css #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    {# Bootstrap Icons #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    {# Custom css #}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="//unpkg.com/alpinejs" defer></script>
    
    {% block style %}{% endblock style %}
    {% block extra_head %}{% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'cars:home' %}">
                <span class="brand-icon">🚗</span> CarCompare
            </a>

            {# Mobile toggle #}
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            {# In car_list, this input will be invisible #}
            {% if request.resolver_match.url_name != 'car_list' %}
            <form action="{% url 'cars:car_list' %}" method="get" class="d-flex">
                <input type="search" name="search" placeholder="Search..." class="form-control">
                <button type="submit" class="btn btn-primary ms-2">
                <i class="bi bi-search"></i>
                </button>
            </form>

            {% endif %}
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {% active_url 'home' %}"
                           href="{% url 'cars:home' %}">
                            <i class="bi bi-house"></i> Trang chủ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_url 'brand_list' %}"
                           href="{% url 'cars:brand_list' %}">
                            <i class="bi bi-shield-check"></i> Hãng xe
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_url 'car_list' %}"
                           href="{% url 'cars:car_list' %}">
                            <i class="bi bi-car-front"></i> Tất cả xe
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {# Main content #}
    <main class="container my-4">
        {% block content %}{% endblock %}

        {#Comparison tray — load session state when page started #}
        <div id="comparison-tray"
             hx-get="{% url 'cars:comparison_tray' %}"
             hx-trigger="load"
             hx-swap="outerHTML">
        </div>
    </main>

    <footer class="bg-dark text-secondary text-center py-4 mt-5">
        <div class="container">
            <p>CarCompare © 2025</p>
        </div>
    </footer>

    {# Bootstrap JS bundle (includes Popper) #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
    <script>
    // Star rating — highlight on click and hover
    document.querySelectorAll('.star-rating').forEach(container => {
    const labels = [...container.querySelectorAll('label')];
    const inputs = [...container.querySelectorAll('input[type=radio]')];

    function highlight(index) {
        labels.forEach((l, i) => {
        l.style.color = i <= index ? '#ffc107' : '#ccc';
        });
    }

    function reset() {
        const checked = inputs.findIndex(i => i.checked);
        if (checked >= 0) highlight(checked); 
        else labels.forEach(l => l.style.color = '#ccc');
    }

    labels.forEach((label, i) => {
        label.addEventListener('mouseenter', () => highlight(i));
        label.addEventListener('mouseleave', reset);
        label.addEventListener('click', () => highlight(i));
    });

    reset(); // init state
    });
    </script>
    {% block extra_js %}{% endblock %}

</body>
</html>