{% load static car_filters %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_add %}{% endblock %}
    <title>{% block title %}Xe Hơi 360{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}So sánh xe hơi tại Việt Nam{% endblock %}">
    
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% block canonical %}{{request.path}}{% endblock %}">
    
    {# Font Roboto #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    
    {# Bootstrap css #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    {# Bootstrap Icons #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    {# Custom css #}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="//unpkg.com/alpinejs" defer></script>
    
    {% block style %}{% endblock style %}
    {% block extra_head %}{% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      class="d-flex flex-column min-vh-100">
    
    {# nav bar #}
    {% include "header/_nav.html" %}

    {# Main content #}
    <main class="flex-grow-1">
        <div class="container my-2 py-1">
            {% block content_root %}{% endblock %}
        </div>
        
        {#Comparison tray — load session state when page started #}
        <div id="comparison-tray"
             hx-get="{% url 'cars:comparison_tray' %}"
             hx-trigger="load"
             hx-swap="outerHTML">
        </div>
    </main>

    <footer class="site-footer text-center py-4 mt-5">
        <div class="container-fluid">
            {% include "footer/footer.html" %}
        </div>
    </footer>

    {# Bootstrap JS bundle (includes Popper) #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
    <script>
    
    </script>
    {% block extra_js %}{% endblock %}

</body>
</html>