<div class="card h-100 shadow-sm card-custom" style="position: relative;">

    <div class="position-absolute top-0 end-0 m-2 icon-heart" style="z-index: 4;">
            {% include "utils/_saved_car_button.html" %}
    </div>
    {# Variant primary image #}
    <div style="position: relative;">
        {% if variant.primary_image %}
            <img src="{{ variant.primary_image.image.url }}" 
            alt="{{ variant}}"
            class="card-img-top"
            style="height:180px; object-fit:cover;">

            <!-- Source Image -->
            {% include "cars/utils/images/_image_source.html" with image=variant.primary_image %}

        {% else %}
            {% include "cars/utils/cars/_placeholder_image.html" %}
        {% endif %}

    </div>
    

    <div class="card-body d-flex flex-column" style="position: relative;">
        <h6 class="text-uppercase">{{ variant }}</h6>

        <div class="mt-auto">

            {# Fuel type badge #}
            <span class="badge badge-brand mb-2 align-self-start">
                <i class="bi bi-fuel-pump"></i>
                {{ variant.get_fuel_type_display }}
            </span>

            {# Price Range #}
            <p class="price-tag fw-bold mb-1">
                <i class="bi bi-currency-exchange"></i>
                {{ variant.price_range }}
            </p>

            <a href="{{ variant.get_absolute_url }}"
                class="btn btn-outline-brand btn-sm w-100 btn-lift">
                    Xem thông số <i class="bi bi-arrow-right"></i>
            </a>

        </div>

    </div>
</div>