<div class="card h-100 shadow-sm car-card" style="position: relative;">

    <div class="position-absolute top-0 end-0 m-2" style="z-index: 4;">
            {% include "utils/_saved_car_button.html" %}
    </div>
    {# Variant primary image #}
    {% if variant.primary_image %}
        <img src="{{ variant.primary_image }}" 
        alt="{{ variant}}"
        class="card-img-top"
        style="height:180px; object-fit:cover;">
    {% else %}
        <div class="bg-light d-flex align-items-center justify-content-center"
            style="height:180px;">
            <i class="bi bi-car-front fs-1 text-secondary"></i>
        </div>
    {% endif %}
    <div class="card-body h-100 d-flex flex-column" style="position: relative;">
        <h5 class="card-title text-uppercase text-truncate">{{ variant }}</h5>

        {# Fuel type badge #}
        <span class="badge bg-success mb-2 align-self-start">
            <i class="bi bi-fuel-pump"></i>
            {{ variant.get_fuel_type_display }}
        </span>

        {# Price Range #}
        <p class="price-tag fw-bold mb-3">
            <i class="bi bi-currency-exchange"></i>
            {{ variant.price_range }}
        </p>

        <a href="{{ variant.get_absolute_url }}"
            class="btn btn-primary btn-sm mt-auto">
                Xem thông số <i class="bi bi-arrow-right"></i>
        </a>
    </div>
</div>